html, body {
    margin: 0;
    padding: 0;
    font-family: 'Smythe', sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 3.125em auto;
    overflow: hidden;
}

#thumbnail {
    width: 200px;
    border-radius: 5px;
    margin: 3px;
}

#thumbnail:hover {

}

img {
    display: block;
}

.lightbox {
    max-width: 800px;
    position: fixed;
    width: 600px;
    height: 600px;
    top: 10%;
    left: 20%;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap: 0px;
    border-radius: 3px;
    background-color: #fff;
    border: none;
    box-shadow: 5px 5px 255px 0px #00000080;
    display: none;
    
}

.hidden {
    display: none;
}